@import 'mixins';

@media only screen and (min-width : 320px) {
   
    
    body {
        margin:0;
        padding:0;
        overflow-x: hidden;
        max-width: 100vw;
        font-family:$font;
    }
    header
    {
        display:flex;
        width:100%;
        justify-content: space-between;
        padding-top:2%;
        padding-left:2%;
        padding-right:2%;
    }
    
    
    nav 
    {
        
        padding-right:5%;
    }
    
    .menu
    {
        display:none;
    }
   
    .menu-mobile
    { display:flex;
        width:auto;
        padding-right: 10%;
        flex-direction: column;
       align-items: flex-end;
       
        & .icon
        {    
            font-size:2.5rem;
            color:$default-color;
            
            
            
            
        }
   
        & > .mobile
        {  
           color:white;
            list-style-type: none;
            display:block;
          z-index:12;
            position:absolute;
          right:100vw;
          opacity:0;
            top:8%;
            //transform:translateX(-300px);
            

    
        transition: right linear 0.25s, opacity linear 0.25s;
           
            
          
          
          
         
       
            & li
            {    width:100vw;
                position: relative;
                top:20%;
            text-align: center;
               color:$greentext;
                font-weight: 800;
                border:1px solid $greentext;
                padding:3%;
        background-color:white;
                text-transform: uppercase;
        
            
            }
        
            
            
        }
    
    
    }
    ///////////////////////////////////////////////////////////////

   
    
}


@media only screen and (min-width : 480px) {

    body {
        margin:0;
        padding:0;
        overflow-x: hidden;
        max-width: 100vw;
        font-family:$font;
    }
    header
    {
        display:flex;
        width:100%;
        justify-content: space-between;
        padding-top:2%;
        padding-left:2%;
        padding-right:2%;
    }
    
    
    nav 
    {
        
        padding-right:5%;
    }
    
    .menu
    {
        display:none;
    }
   
    .menu-mobile
    { display:flex;
        width:auto;
        padding-right: 10%;
        flex-direction: column;
       align-items: flex-end;
       
        & .icon
        {    
            font-size:2.5rem;
            color:$default-color;
            
            
            
            
        }
   
        & > .mobile
        {  
             color:white;
            list-style-type: none;
            display:block;
          z-index:12;
            position:absolute;
          right:100vw;
          opacity:0;
            top:8%;
            //transform:translateX(-300px);
            

    
        transition: right linear 0.25s, opacity linear 0.25s;
           
            
        
           
            
          
          
          
         
       
            & li
            {  width:100vw;
                position: relative;
                top:20%;
            text-align: center;
               color:$greentext;
                font-weight: 800;
                border:1px solid $greentext;
                padding:3% 0;
        background-color:white;
                text-transform: uppercase;
            
            }
        
            
            
        }
    
    
    }
    }
