@import 'mixins';

@media only screen and (min-width : 320px) {
   
    
    body {
        margin:0;
        padding:0;
        overflow-x: hidden;
        max-width: 100vw;
        font-family:$font;
    }
    header
    {
        display:flex;
        width:100%;
        justify-content: space-between;
        padding-top:2%;
        padding-left:2%;
        padding-right:2%;
    }
    
    
    nav 
    {
        
        padding-right:5%;
    }
    
    .menu
    {
        display:none;
    }
   
    .menu-mobile
    { display:flex;
        width:auto;
        padding-right: 10%;
        flex-direction: column;
       align-items: flex-end;
       
        & .icon
        {    
            font-size:2.5rem;
            color:$default-color;
            
            
            
            
        }
   
        & > .mobile
        {  
           color: white;
            list-style-type: none;
            background-color:#609e00;
            display:block;
          z-index:12;
            position:absolute;
          right:100vw;
          opacity:0;
            top:8%;
            //transform:translateX(-300px);
            

     .scroll
    {
position:fixed;
    background-color: #609e00;
        //60CC00 609e00
    z-index:99;
        min-width:100vw;
        transition:background-color 200ms linear;
        
    }
        transition: right linear 0.25s, opacity linear 0.25s;
           
            
          
          
          
         
       
            & li
            {    width:100vw;
                position: relative;
                top:20%;
            text-align: center;
               color:white;
                font-weight: 800;
                //border:1px solid $greentext;
                padding:3%;
        background-color:#609e00;
                text-transform: uppercase;
         & > a 
            {
                color:white;
                text-decoration: none;
                
                
            }
            
            }
        
            
            
        }
    
    
    }
    ///////////////////////////////////////////////////////////////

   
    
}


@media only screen and (min-width : 480px) {

    body {
        margin:0;
        padding:0;
        overflow-x: hidden;
        max-width: 100vw;
        font-family:$font;
    }
    header
    {
        display:flex;
        width:100%;
        justify-content: space-between;
        padding-top:20px;
        padding-left:20px;
        padding-right:20px;
         transition:background-color 200ms linear;
        
    }
    
    
    nav 
    {
        
        padding-right:5%;
    }
    
    .menu
    {
        display:none;
    }
   
    .menu-mobile
    { display:flex;
        width:auto;
        padding-right: 10%;
        flex-direction: column;
       align-items: flex-end;
       
        & .icon
        {    
            font-size:2.5rem;
            color:$default-color;
            
            
            
            
        }
   
        & > .mobile
        {  
             color:white;
            background-color:#609e00;
            list-style-type: none;
            display:block;
          z-index:12;
            position:absolute;
          right:100vw;
          opacity:0;
            top:8%;
            //transform:translateX(-300px);
            

    
        transition: right linear 0.25s, opacity linear 0.25s;
           
            
        
           
            
          
          
          
         
       
            & li
            {  width:100vw;
                position: relative;
                top:20%;
            text-align: center;
               color:white;
                font-weight: 800;
               // border:1px solid $greentext;
                padding:3% 0;
        background-color:#609e00;
                text-transform: uppercase;
            
            
        
            & > a 
            {
                color:white;
                text-decoration: none;
                
                
            }
            
            
        }
        }
    
    }
    
    }
@media only screen and (min-width : 992px){
    
    .scroll
    {
position:fixed;
    background-color: #609e00;
        //60CC00 609e00
    z-index:99;
        min-width:100vw;
        transition:background-color 200ms linear;
        
    }
    nav 
    {
        margin:0;
        padding:0;
    }
    
    .menu-mobile 
    {
        display:none !important;
        
    }
    .menu
    {
        display:block !important;
    }
    .menu_content
    {
        list-style-type: none;
        color:white;
        display:flex;
        position: relative;
        right:10%;
    }
    .menu_content_element
    {
        padding: 10px 25px;
        font-size:1rem;
    }
    .menu_content_element:hover
    {
        background-color:lightgreen;
        padding: 10px 25px;
        font-size:1rem;
    }
    
    .menu_content_element:active
    { padding: 10px 25px;
        font-size:1rem;
    }
     .menu_content_element:focus
    {padding: 10px 25px;
        font-size:1rem;
        
    }
    .menu_content_element_link
    
    {
        color:white;
        text-decoration: none;
    }
    
    
}